.messageContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.messageContainer > * {
    margin: 4px;
    padding: 8px 16px;
    border-radius: 10px;
}

.user{
    justify-content: flex-end;
}

.user > * {
    background-color: #e5e8f1;
    color: darkcyan;
}

.other > *{
    background-color:#3f3d3d;
    color: #f4f6ff;
}

.text-width{
    max-width: 50vw;
    word-wrap: break-word;
}

::-webkit-scrollbar {
    width: 8px;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

p{

}

@media only screen and (max-width: 480px){
    .messageContainer > * {
        margin: 7px;
        padding: 7px 12px;
        border-radius: 10px;
    }
    
}